@model List<RoleRestriction.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies List</h2>

@if (Model.Count == 0)
{
    <h4>No movies to display</h4>
}
else
{
    <table id="Movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Movie
                </th>
                <th>
                    Genre
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            
                @foreach (var movie in Model)
                {
                    <tr>
                        <td><a href="/Movies/Details/@movie.Id">@movie.Name</a></td>
                        <td>@movie.Genre</td>
                        <td><a href="/Movies/Delete/@movie.Id">Delete</a></td>
                    </tr>
                }
        </tbody>
    </table>
}

